<div class="container">
  <div class="card">
    <div class="strip-block">
      <div class="profile-logo">
        <img src="assets/img/cristianoBorges.png" alt="">
      </div>
      <div class="strip"></div>
      <div class="short-details">
        <h4 class="tagLine">
          Estudante  | Developer 
        </h4>
        <blockquote class="quote">
          "Eu amo ajudar os outros no caminho do auto-aprendizado"
        </blockquote>
      </div>
    </div>

    <div class="details">
      <div class="nameBlock">
        <h1 class="round-shape name">
          Cristiano Borges
        </h1>
        <div class="divider">
          <div class="stick stick1"></div>
          <div class="stick stick2"></div>
        </div>
      </div>
      <p class="bio">
     Adoro codificar, novas tecnologias que me interessam principalmente no Full Stack Web Development.
        <br> Adoro trabalhar com o Flutter, Node.js, Angular.
      </p>
      <div (mouseover)="startTadaAnimation = false" [ngClass]="{'tada-animation':startTadaAnimation}">
        <a class="round-shape projects-link" (click)="onExploreMeClick()">
          <span>
            Explore Me
          </span>
        </a>
      </div>
    </div>
    <div class="divider">
      <div class="stick stick1"></div>
      <div class="stick stick2"></div>
    </div>

    <div class="social">
      <div class="social-icon">
        <a href="https://github.com/bvieira1" target="_blank">
          <img src="assets/assert/contactIcon/github.svg" alt="github icon">
        </a>
      </div>
      <div class="social-icon">
        <a href="https://www.linkedin.com/in/cristiano-borges-0177b0198/" target="_blank">
          <img src="assets/assert/contactIcon/linkedin.png" alt="linkedin icon">
        </a>
      </div>
    </div>

  </div>
</div>
